Car.jpg
Краткое руководство по Маркдауну.pdf
Исчерпывающая шпаргалка по синтаксису разметки Markdown_на заметку авторам, веб-разработчикам, контент-менеджерам.pdf
Руководство по оформлению Markdown файлов GitHub.pdf